<?xml version="1.0" encoding="utf-8"?>
<robot name="EvalWheeledRoboterDistanceSensor">
    <webots>
        <plugin type="webots_ros2.compass_plugin.CompassPlugin">
            <robotName>EvalWheeledRoboterDistanceSensor</robotName>
            <port>PORT_1</port>
        </plugin>
        <plugin type="webots_ros2.distance_plugin.DistancePlugin">
            <robotName>EvalWheeledRoboterDistanceSensor</robotName>
            <port>PORT_2</port>
        </plugin>
        <plugin type="webots_ros2.motor_plugin.MotorPlugin">
            <robotName>EvalWheeledRoboterDistanceSensor</robotName>
            <port>PORT_A</port>
        </plugin>
        <plugin type="webots_ros2.motor_plugin.MotorPlugin">
            <robotName>EvalWheeledRoboterDistanceSensor</robotName>
            <port>PORT_B</port>
        </plugin>
    </webots>
</robot>