<?xml version="1.0" encoding="utf-8"?>
<robot name="EvalNoSensorsTest_3">
    <webots>
        <plugin type="webots_ros2.compass_plugin.CompassPlugin">
            <robotName>EvalNoSensorsTest_3</robotName>
            <port>PORT_1</port>
        </plugin>
        <plugin type="webots_ros2.motor_plugin.MotorPlugin">
            <robotName>EvalNoSensorsTest_3</robotName>
            <port>PORT_A</port>
        </plugin>
        <plugin type="webots_ros2.motor_plugin.MotorPlugin">
            <robotName>EvalNoSensorsTest_3</robotName>
            <port>PORT_B</port>
        </plugin>
    </webots>
</robot>